@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-blue: #0297b5;
  --dark-blue: #05565b;
  --light-blue: #6ad5db;
  --primary-orange: #ee8615;
  --dark-orange: #be5f17;
  --light-orange: #f5c68d;

  --white: #ffffff;
  --black: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: max-content;
}

p {
  letter-spacing: 1.2px;
}

main {
  width: 100vw;
  max-width: 100%;
  /* min-height: 90vh; */
  background-color: #c6c6c6;
  background-size: contain;
}

main img {
  width: 100%;
  object-fit: cover;
}

#imersao {
  background-color: var(--primary-blue);
  display: flex;
  justify-content: center;
  padding: 120px 20px;
}

#imersao .wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
}

#imersao .wrapper .col1 {
  flex-grow: 1;
}

#imersao .wrapper .col1 .wrapper_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

#imersao .wrapper .col1 .wrapper_cards .card {
  background-color: var(--primary-orange);
  max-width: 320px;
  width: 100%;
  min-width: 280px;
  min-height: 100px;
  text-align: center;
  padding: 10px 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 30px;
}

#imersao .wrapper .col1 .wrapper_cards .card h2 {
  font-size: 1.5rem;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 150%;
}

#imersao .wrapper .col2 {
  flex-grow: 1;
}

#imersao .wrapper .col2 .container_text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}

#imersao .wrapper .col2 .container_text h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.3rem;
}

#imersao .wrapper .col2 .container_text p {
  max-width: 500px;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 150%;
}

#imersao .wrapper .col2 .container_text a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--light-orange);
  color: var(--white);
  padding: 20px 30px;
  border-radius: 30px;
  font-size: 26px;
  font-weight: 500;
}

/* --------------------------------- */

#oq_voce_vai_aprender {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: var(--light-orange);
}

/* --------------------------------- */

#para_quem_e_curso {
  background-color: var(--dark-orange);
  display: flex;
  justify-content: center;
  padding: 120px 20px;
}

#para_quem_e_curso .container .wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}

#para_quem_e_curso .container .wrapper h2 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}

#para_quem_e_curso .container .wrapper p {
  max-width: 1200px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;

  text-align: justify;
}

/* --------------------------------- */

#quem_somos {
  background-color: yellow;
}

#quem_somos .row1 {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  padding: 80px 20px;
}

#quem_somos .row1 .container {
  background-color: var(--dark-blue);
}

#quem_somos .row1 .container .wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}

#quem_somos .row1 .container .wrapper h2 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}

#quem_somos .row1 .container .wrapper p {
  text-align: justify;
  max-width: 1200px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
}

/* --------------------------------- */

#proxima_turma {
  height: 100vh;
  width: 100%;
  background-color: var(--dark-orange);
}

/* --------------------------------- */

#ebook {
  background-color: var(--dark-blue);
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#ebook .container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#ebook .container .wrapper h2 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white);
}

#ebook .container .wrapper h2 span {
  font-weight: 600;
}

#ebook .container .wrapper a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--light-orange);
  color: var(--white);
  padding: 20px 80px;
  border-radius: 50px;
  font-size: 26px;
  font-weight: 500;
}

#ebook .container .wrapper .container_logo {
  width: 300px;
  height: 200px;
}

#ebook .container .wrapper .container_logo img {
  width: 100%;
  height: 100%;
}

/* --------------------------------- */

@media screen and (max-width: 875px) {
  #imersao .wrapper {
    gap: 80px;
  }
}
