:root{
    --primary-blue: #0297B5;
    --dark-blue: #05565B;
    --light-blue: #6AD5DB;
    --primary-orange: #EE8615;
    --dark-orange: #BE5F17;
    --light-orange: #F5C68D;

    --white: #FFFFFF;
    --black: #000000;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    width: 100%;
    height: max-content;
}

main{
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    background-color: #c6c6c6;
}

#oq_voce_vai_aprender{
    background-color: var(--primary-blue);
    display: flex;
    justify-content: center;
    padding: 120px 20px;
}

#oq_voce_vai_aprender .wrapper{
    display: flex;
    flex-wrap: wrap;
}

#oq_voce_vai_aprender .wrapper .col1{
    background-color: red;
    flex-grow: 1;
}

#oq_voce_vai_aprender .wrapper .col1 .wrapper_cards{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#oq_voce_vai_aprender .wrapper .col1 .wrapper_cards .card{
    background-color: var(--primary-orange);
    width: 300px;
    min-height: 100px;
    text-align: center;
    padding: 10px 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--white);
    border-radius: 30px;
}

#oq_voce_vai_aprender .wrapper .col1 .wrapper_cards .card h2{
    font-size: 1.5rem
}

p{
    max-width: 400px;
}

#oq_voce_vai_aprender .wrapper .col2{
    background-color: blue;
    flex-grow: 1;
}

.teste{
    background-color: yellow;
}